@model Site_de_Vendas_com_autenticacao.Models.ViewModel.EventoViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h4>Evento</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <input type="hidden" asp-for="Evento.Id">
            <div class="form-group">
                <label asp-for="Evento.Nome" class="control-label"></label>
                <input asp-for="Evento.Nome" class="form-control"/>
                <span asp-validation-for="Evento.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.preco" class="control-label"></label>
                <input asp-for="Evento.preco" class="form-control"/>
                <span asp-validation-for="Evento.preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Data" class="control-label"></label>
                <input asp-for="Evento.Data" class="form-control"/>
                <span asp-validation-for="Evento.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.CasaShowId" class="control-label"></label>
                <select asp-for="Evento.CasaShowId" asp-items="@(new SelectList(Model.CasaShows, "Id", "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Evento.GeneroId" class="control-label"></label>
                <select asp-for="Evento.GeneroId" asp-items="@(new SelectList(Model.Generos, "Id", "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success"/>
                <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}